<h2>Posts: </h2>
<% @posts.each do |post| %>
<p>
<%= post.post%>
</br>
</br>
autor: <%= post.autor%>
</br>
created at: <%= post.created_at%>
</br>
</br>
<a href="/comments/<%= post.id%>">comments</a>
</p>
</br>
<hr/>
<% end%>
