<h2>Posts: </h2>
</br>
<% @posts.each do |post| %>
<p>
<%= post.post%>
</br>
</br>
<span style="font-size: 75%; color: #999">autor: <%= post.autor%></span>
</br>
<span style="font-size: 75%; color: #999">created at: <%= post.created_at%></span>
</br>
</br>
<a href="/comments/<%= post.id%>">comments</a>
</p>
</br>
<hr/>
<% end%>
