<h2>Add new post:</h2>
</br>
</br>

<form action="/new" method="POST">
  <textarea name="content" class="form-control" rows="6" placeholder="your post"></textarea>
</br>
<input name="autor" type="text" class="form-control" placeholder="your name">
</br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
